repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, .trunk/configs/ruff.toml]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, .trunk/configs/ruff.toml]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.12
    hooks:
      - id: uv-lock

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: [-c, .trunk/configs/bandit.yaml]
        additional_dependencies: ["bandit[toml]"]

  # --- General ---
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--config, .trunk/configs/.prettierrc]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--config, .trunk/configs/.markdownlint.yaml]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [-c, .trunk/configs/.yamllint.yaml]

  - repo: https://github.com/crate-ci/typos
    rev: v1.35.5
    hooks:
      - id: typos

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint

  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.497
    hooks:
      - id: checkov
        args: [--framework, terraform, --framework, cloudformation, --soft-fail]

  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6 # trunk: shellcheck@0.9.0 (repo tags are v0.9.0.x)
    hooks:
      - id: shellcheck
        args: [-S, warning, --shell=bash]
