repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--settings-path, .trunk/configs/.isort.cfg]

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.13

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff-check
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, .trunk/configs/ruff.toml]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, .trunk/configs/ruff.toml]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.12
    hooks:
      - id: uv-lock

  - repo: https://github.com/crate-ci/typos
    rev: v1.35.5
    hooks:
      - id: typos
